/***********
 * Reset
 ***********/

* {
  margin: 0;
  padding: 0;
  font-family : sans-serif;
}

/**************
 * header
 *************/

header {
  background-color : rgb(30, 30, 40);
  /*background-image : url('white_tree.jpg');*/
  background-repeat : no-repeat;
  background-position : top left;
}

#marque {
  margin : auto;
  text-align : center;
}

header #marque-1 {
  padding-top : 40px;
  font-weight : bold;
}

header #marque-2{
  color : white;
  font-weight : bold;
  letter-spacing : 7px;
  text-transform : uppercase;
}

header .letter{
  color:white;
  font-size : 50px;
  display : inline;
}

#letter-O{
  /*color : blue;*/
  color : #2B1EA6;
  color : orange;
}

#letter-K{
  color : purple;
}

#letter-C{
  color : red;
}

.underscore{
  text-decoration : blink;
}

#slogan #phrase-1{
  padding-top : 45px;
  padding-bottom : 50px;
  text-align : center;
  color : white;
  font-size : 12px;
  text-transform : uppercase;
}

#wrapper {
  max-width : 1000px;
  margin : auto;
  padding-top : 45px;
  color : rgb(70,70,70);
  text-align : center;
}

#wrapper a {
  color : black;
}

#wrapper h1 {
  color : black;
}

#wrapper p {
  font-size : 25px;
  padding : 15px;
}

em {
  color : black;
}

navigation#lang ul {
  text-align : right;
  padding : 15px 30px;
  font-weight : bold;
}

navigation#lang ul li {
  display : inline;
}

navigation#lang ul li a {
  display : inline;
  text-decoration : none;
  color : black;
}

navigation#lang ul li a.active {
  text-decoration : underline;
}

navigation#menu ul {
  padding-top : 15px;
  text-align : center;
  font-weight : bold;
}

navigation#menu ul li {
  display : inline;
}

navigation#menu ul li a {
  display : inline;
  text-decoration : none;
  color : black;
}

navigation#menu ul li a.active {
  text-decoration : underline;
}


footer {
  background : rgb(12, 12, 12);
  height : 25%;
}

footer ul {
  color : white;
  list-style-type : none;
  text-align :center;
}

footer ul li {
  padding : 15px;
  letter-spacing : 15px;
}

